# SFTP credentials
SFTP_USER="sftpuser"
SFTP_PASS="YourSftpPassword"
SFTP_HOST="sftp.example.com"
SFTP_REMOTE_PATH="/remote/path"

# USB volume UUID (find on macOS with `diskutil info` or Linux `blkid`)
USB_UUID="53BC1C49-044F-3369-9BBC-E66FA85C7E9F"

# Wi-Fi credentials
WIFI_SSID="Vodafone-D774"
WIFI_PASS="YourWiFiPassword"

# Hostname
HOSTNAME="utkupi"

# OS user and password
OS_USER="utkuturunc"
OS_PASS="MySecurePassword123!"
